
body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #000000;
  margin: auto;
  width: 50%;

}

h2 {
  color: #110f0ff5;
  margin-bottom: 10px;
}

form {
  margin-bottom: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #1a1a1a;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

button:hover {
  background-color: #4b4b4b;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}


.entries-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.entry-block {
  background-color: #f1f8ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.entry-block:nth-child(odd) {
  background-color: #fde6e3;
}

h3 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #777;
}

.date {
  margin-top: auto;
  font-size: 12px; 
}

.textarea-container {
  max-width: 500px; /* Container'ın maksimum genişliğini belirleyebilirsiniz */
  position: relative;
}

.textarea-container textarea {
  width: 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.delete-btn {
  float: right;
  background-color: red;
  color: white;
}